:root {
  --colorazul: #007bff;
  --colorcheckbox: #4CAF50;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.task-container {
  display: flex;
  align-items: center;
}

.round-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
  margin-right: 8px; 
}

.round-checkbox:checked {
  background-color: var(--colorcheckbox);
  border-color: var(--colorcheckbox);
}

.Name {
 
  width: 250px;
  height: 50px;
  border: 1px solid;
  border-radius: 10px;
}

.Name:focus,
.Name:hover {
  width: 300px;
  border: 1px solid #343FDC;
}

.newTaks{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 0;
}


.editCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%; /* Ajusta según sea necesario */
  right: 0; /* Coloca el componente en el borde derecho */
  transform: translateY(-50%); /* Centra verticalmente respecto al 50% superior */
  padding: 20px;
}
